

.navbar_container,.container_one{
    max-width: 100% !important;
}

.container_two{
    max-width: 82%;
}

.navbar{
    background-color: #005883;
}

.home{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}