<div class="container container_one">
  <div class="row">
    <div class="col">
      <div class="container container_two">
        <div class="row">
          <div class="col">
            <nav class="navbar navbar-expand-lg">
              <div class="container navbar_container">
                <div>
                  <img
                    src="https://repository.unad.edu.co/reproductor-ova/10596_36477/template/images/logoUNAD.png"
                    class="mx-auto d-block "
                    height="60px"
                  />
                </div>
                <div class="navbar-collapse justify-content-center">
                  <span class="navbar-text text-white fs-2 fw-medium"> Proyecto Demo </span>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="row home">
          <div class="col-2"></div>
          <div class="col"></div>
        </div>
      </div>
    </div>
  </div>
</div>
